<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Setting | Pomodoro Timer</title>
    <link rel="stylesheet" href="../assets/css/setting.css">
  </head>
  <body>
    <h1>Setting</h1>
    <form>
      <div>
        <input type="text" id="label0" />
        <input type="number" id="value0" />
      </div>
      <div>
        <input type="text" id="label1" />
        <input type="number" id="value1" />
      </div>
      <div>
        <input type="text" id="label2" />
        <input type="number" id="value2" />
      </div>
      <div>
        <input type="text" id="label3" />
        <input type="number" id="value3" />
      </div>
      <div>
        <input type="text" id="label4" />
        <input type="number" id="value4" />
      </div>
      <div>
        <input type="text" id="label5" />
        <input type="number" id="value5" />
      </div>
      <div>
        <input type="text" id="label6" />
        <input type="number" id="value6" />
      </div>
      <div>
        <input type="text" id="label7" />
        <input type="number" id="value7" />
      </div>
    </fomm>
    <a href="#" id='save-btn'>Save</button>
  </body>

  <script>
    // You can also require other files to run in this process
    require('../renderer-process/setting.js')
  </script>
</html>
